@import '../../assets/sass/common';
@import '../../assets/sass/color';
@import '../../assets/sass/mixin';

.container {
    @include background-image(#2e2e38);
    display: flex;
    align-items: center;
    color: $white;
    @media only screen and (max-width: 768px) {
        height: auto;
    }
}

.row{
    @extend .alignCenter;
    display:flex;
    @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
    }

.column{
    flex: 1;
    margin: 20px;
    line-height: 1.5;
    font-weight: 500;
    text-transform: capitalize;
    min-width: 209px;
        h3{
            font-size: 20px;
            text-transform: capitalize;
            position:relative;
            animation: slidein 2s ease;
            @keyframes slidein {
                0% {top: -100%;}
                100% {top: 0;} 
             } 
        }

        ul{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 200px;
            

            li{
                list-style-type: none;
                display: flex;
                align-items: center;
                flex: 1 1;
                opacity:0;
                animation: slideinLi 3s ease-in forwards;
                @for $i from 1 through 4 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: 2s + $i;
                    }
                }

                img{
                    margin-right: 10px;
                }
                
                @keyframes slidein {
                    0% {top: -100%;}
                    100% {top: 0;} 
                 }
                 @keyframes slideinLi {
                    0% { opacity:0.6}
                    100% {opacity:1} 
                 } 
            }
        }
    }
}



  